<app-menu/>
<div class="card-container">
  <div class="card">
    <h2>{{portafoli[0]?.nombre}}</h2>
    <p>{{portafoli[0]?.tema}}</p>
    <p>{{portafoli[0]?.lenguaje}}</p>
    <img src="assets/images/xamarin.png" alt="Descripción de la imagen">
    
  </div>
  
  <div class="card">
    <h2>{{portafoli[1]?.nombre}}</h2>
    <p>{{portafoli[1]?.tema}}</p>
    <p>{{portafoli[1]?.lenguaje}}</p>
    <img src="assets/images/angular.png" alt="Descripción de la imagen">
  </div>
  
  <div class="card">
    <h2>{{portafoli[2]?.nombre}}</h2>
    <p>{{portafoli[2]?.tema}}</p>
    <p>{{portafoli[2]?.lenguaje}}</p>
    <img src="assets/images/xamarin.png" alt="Descripción de la imagen">
  </div>
</div>
