<body>
  <nav>
      <div class="navbar">
          <div class="container nav-container">
              <div class="logo">
                  <h1>Juan Dominguez</h1>
              </div>
              <div class="menu-items">
                  <ul>
                      <li><a href="inicio">Sobre mi</a></li>
                      <li><a href="proyectos">Proyectos</a></li>
                      <li><a href="presentacion">Contacto</a></li>
                      <li><a href="api">Api de imagenes</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
</body>
