* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #214d87;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
  background-color: #3498db;
}

.navbar {
  width: 100%;
  background-color: #3498db;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  top: 0;
  position: sticky;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  
}

.navbar .menu-items {
  display: flex;
  
}

.navbar .menu-items ul {
  list-style: none;
  display: flex;
}

.navbar .menu-items ul li {
  margin-right: 20px;
}

.navbar .menu-items a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .menu-items a:hover {
  font-weight: bolder;
}

.logo h1 {
  font-size: 1.5rem;
  color: #0e2431;
  margin: 0;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
      padding: 0 20px;
  }
  .logo h1 {
      font-size: 1.2rem;
  }
}
