<app-menu/>

<div class="contact-info-container">
  <div class="contact-info-frame">
    <div class="contact-info">
      <img class="contact-icon" src="assets/images/gmail.png" alt="Email icon"/>
      <p>Email: contactosjuandm.com</p>
    </div>
    <div class="contact-info">
      <img class="contact-icon" src="assets/images/cel.png" alt="Teléfono icon"/>
      <p>Teléfono: +52 6442 13 22 66</p>
    </div>
    <div class="contact-info">
      <img class="contact-icon" src="assets/images/git.png" alt="GitHub icon"/>
      <p>GitHub: JuanDm05</p>
    </div>
  </div>
</div>
