/* Estilos para la vista de información de contacto */
.contact-info-container {
    margin: 25px;
    
}

.contact-info-frame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(52, 152, 219, 0.8); /* Agrega la sombra azul fuerte */
    transition: transform 0.3s ease-in-out;

    
}

.contact-info {
    text-align: center;
    
}

.contact-icon {
    width: 40px; /* Ajusta el tamaño según tus preferencias */
    height: 40px; /* Ajusta el tamaño según tus preferencias */
    margin-bottom: 10px;
    
}

.contact-info p {
    margin: 0;
    color: #333;
}
.contact-info img{
    transition: transform 0.3s ease-in-out; /* Agrega animación de transformación */

}
.contact-info img:hover{
    transform: scale(1.4); /* Escala la imagen al pasar el ratón sobre ella */

}