<app-menu/>

<div class="frame" >
    <!-- Imagen dentro del marco -->
    <img src="/assets/images/perfil.png" alt="Descripción de la imagen">

    <!-- Contenido dentro del marco -->
    <h1 >Sobre mí</h1>
    <p >Hola, me presento. Soy Juan Adolfo Domínguez Muñoz, un desarrollador egresado de la UTS 
        con la carrera de Técnico Superior Universitario en Desarrollo de Software. Cuento con
         habilidades en desarrollo y gestión de software, y tengo experiencia con frameworks como
          ASP.NET, Angular y Xamarin. 
          Ademas manejo bases de datos Tanto Relacionales(Sql) y No relacionales (NoSql)</p>
</div>

<div class="frame">

Tecnologias principales:

</div>
<div class="frame2">
    <img src="/assets/images/.net.png" alt="Descripción de la imagen">
    <img src="/assets/images/angular.png" alt="Descripción de la imagen">
    <img src="/assets/images/xamarin.png" alt="Descripción de la imagen">
</div>
