body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #ebf5fb; /* Fondo de la página */
}

.frame {
    border: 1px solid #ddd; /* Borde ligero */
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(52, 152, 219, 0.8); /* Agrega la sombra azul fuerte */
}
.frame2 img:hover {
    transform: scale(1.1); /* Escala la imagen al pasar el ratón sobre ella */
}

.frame img {
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y agrega espacio debajo */
    border-radius: 50%; /* Da un estilo redondeado a la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(52, 152, 219, 0.8); /* Agrega la sombra azul fuerte */
}

.frame h1 {
    color: #3498db;
    font-size: 2em; /* Tamaño grande para el encabezado */
    margin-bottom: 15px;
}

.frame p {
    line-height: 1.6;
    color: black; /* Color de texto más oscuro */
}

.frame2 img:hover {
    transform: scale(1.3); /* Escala la imagen al pasar el ratón sobre ella */

}
.frame2 img {
    max-width: 10%;
    height: auto;
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y agrega espacio debajo */
    border-radius: 50%; /* Da un estilo redondeado a la imagen */
    transition: transform 0.3s ease-in-out; /* Agrega animación de transformación */

}

.frame2 {
    display: flex; /* Establece un contenedor flexible para colocar las imágenes en línea */
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; /* Centra las imágenes verticalmente si es necesario */
    text-align: center; /* Alinea el texto al centro si lo hay */
}
